@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.woff2') format('woff2'),
      url('../fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
      url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
// FONTS VARIABLE 
$primary-fonts: 'Helvetica';
$secondary-fonts: 'Helvetica-Bold';


// COLOR VARIABLES
$primary                : #585fcb !default;
$danger                 : #FE696A !default;
$success                : #42d697 !default;
$warning                : #FEA569 !default;
$dark                   : #373f50 !default;
$light                  : #f6f9fc !default;
$theme-red-color        : #F34770 !default;

$theme-font-color       : #4b566b !default;
$theme-footer-bg-color  : #2B3445 !default;
$theme-font-light-color : rgba($theme-font-color, 0.7) !default;
$theme-link-color       : $primary !default;
$theme-line-color       : #e3e9ef !default;
$theme-border-color     : #eee !default;
$theme-link-hover-color : lighten($theme-link-color, 8%) !default;
$theme-light-line-color : rgba($dark, 0.1) !default;
// THEME COLORS
$theme-colors: (
  "primary"             : $primary,
  "danger"              : $danger,
  "dark"                : $dark,
  "light"               : $light,
  "success"             : $success,
  "warning"             : $warning,
);


// THEME COLORS
$social-colors: (
  "facebook"            : #3B5998,
  "twitter"             : #55ACEE,
  "instagram"           : #C32AA3,
  "pinterest"           : #CB2028,
  "linkedin"            : #007BB6,
);


// IMPORT ALL SCSS FILES
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./components/keyframes";
@import "./components/mixins";
@import "./components/default";
@import "./theme/authenticated";
@import "./theme/header";
@import "./theme/footer";
@import "./theme/hero";







// BOX SHADOW CSS
//--------------------------------------------------------------
@each $breakpoint in (none, sm, md, lg) {
  .shadow-hover-#{$breakpoint}{
    @include transition($transition-base);
    @include hover{
      @if $breakpoint =='md'{  
        @extend .shadow;
      } @else{
        @extend .shadow-#{$breakpoint};
      }
    }
  }
}



// CUSTOM STYLE CSS
//--------------------------------------------------------------
.list-inline-pipe-line{
  li a{
    position: relative;color: #7d879c;
    @include hover{color: $theme-link-hover-color}
  }
  li:not(:last-child) a{padding-right: 15px;margin-right: 15px;}

  li:not(:last-child) a:after{
    @include size(1px, 16px);
    background-color: $theme-light-line-color;
    @include position(absolute, $content: '', $top: 50%, $right: 0, $bottom: 50%)
  }
}

.list-breadcrumb{
  display: block;
  a, span{
    display: inline-block;
    color: $light;
    line-height: 1.8;

    i{color: rgba(255, 255, 255, 0.5); margin-right: 5px;}
  }
  a:hover{
    color: $theme-link-hover-color;
  }

  a:not(:last-child):after{
    @include position(relative, $content: '\f105');
    @include size(20px);
    display: inline-block;
    vertical-align: top;
    text-align: center;    
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
  }
}
.list-categories a{
  color: $theme-font-color;
  margin-bottom: 6px;
  display: block;

  @include hover{color: $theme-link-hover-color;}
}

.list-inline-social{
  li a {
    @include size(30px);
    @include flexbox(none);
    @include align-items(center);
    @include justify-content(center);
    @extend .font-size-15;
  }
}
.list-social-icons a{
  @include size(30px);
  @extend .font-size-17;
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-center;

  @each $item, $value in $social-colors{
    .#{$item}{color : $value !important;}
  }
}
.list-inline li, .list-inline li a{display: inline-block;}
.list-pagination{
    &-link{
        @include color($light, $theme-font-color);
        @extend .d-inline-block;
        @extend .py-1;
        @extend .px-3;
        @extend .rounded;
        @extend .mx-2;

        &.active, &:hover{
            @include color($danger !important, $white !important);
            border-color: $danger;
            @include box-shadow(0px 1px 8px rgba($danger, 0.6));
        }
    }    
}
.card-body{
  p:last-child{
    margin-bottom: 0;
  }
}

.shadow-danger{
  box-shadow: 0 0 25px -3px rgba($danger, 0.3);
}
.card-item{
  &-date{
    margin-right: 1.25rem;
    text-align: center;
  }
  &-badge{@include position(absolute, $top: 20px, $left: 20px);}
}

.divider-space-30{height: 30px;}
.divider-space-60{height: 60px;}
.cursor-pointer{cursor: pointer;}

.section-gap{
  &-60{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &-60-30{
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.section-title{
  &-md{margin-bottom: 40px;

    h3{
      @include font-size(36px);
    }
  }
}

.subscription-group{
  background-color: $light;
  border-radius: .25rem;
  overflow: hidden;

  .form-control{
    background-color: transparent;
    border: none;
  }
  .btn{
    @include border-left-radius(0);
    border: 0;
  }
}
.section-margin-top{
  position: relative;
  margin-top: -60px;
  z-index: 3;
}

.select-option-arrow{
  position: relative;
  @include after{
    @include flexbox;
    @include size(30px, 20px);
    @include font-size(20px);
    @include justify-content(center);
    @include align-items(center);
    @include position($content: '\f107', $right: 3px, $top: 50%, $zIndex: 9);
    background-color: $light;
    color: $primary;
  }
}

.max-w-300{
  max-width: 300px;
}

@include media-breakpoint-up(md){
  .max-w-md-300{max-width: 300px;}
}
.text-light-300{color: rgba(255, 255, 255, 0.7) !important;}
.text-dark-300{color: #7d879c !important;}


.order-table-cover{
  thead tr th{
    padding-bottom: 10px;
    color: $dark;
    white-space: nowrap;
    border-bottom: 1px solid $border-color;
  }
  tbody tr td {
    padding-top: 15px;
    white-space: nowrap;

    @include media-breakpoint-down(md){
      font-size: 13px;
    }
  }
  thead tr th:not(:last-child),
  tbody tr td:not(:last-child),
  tfoot tr td:not(:last-child){
    padding-right: 15px;
  }

  tbody tr:last-child td{
    padding-bottom: 15px;
  }
  tfoot tr td{
    border-top: 1px solid $border-color;
    padding-top: 15px;
    white-space: nowrap;
  }
}

.overflow-x-auto{
  overflow-x: auto !important;
}

.list-mb-5 li{
  margin-bottom: 5px;
}

.checkout-multistep-form{
  
  &-progressbar{
    counter-reset: my-sec-counter;

    li {
      display: inline-block;
      text-align: center;
      color: rgba(255,255,255,0.5);
      position: relative;

      @include media-breakpoint-up(xl){
      padding-top: 30px;
      min-width: 150px;
        
        @include before{
          @include size(calc(100% + 5px), 4px);
          background-color: $light;
          left: 0;
          top: 0;
        }
        &:after{
          counter-increment: my-sec-counter;
          @include size(30px);
          @include flexbox(none);
          @include justify-content(center);
          @include align-items(center);
          background-color: $light;
          content: counter(my-sec-counter);
          @include border-radius(50px);
          top: -14px;
          left: 50%;
          position: absolute;
          color: $theme-font-color;
          transform: translateX(-50%);
  
        }
        &.active {
          color: $white;

          &:before, &:after{
            background-color: $danger;
            color: $white;
          }
        }
      }
      @include media-breakpoint-down(lg){
        i.fal{
          color: rgba(255,255,255,0.5);
        }
        &:not(:first-child){
          padding-left: 15px;
        }
        &:not(:last-child){
          padding-right: 15px;

          &:after{
            @include position(absolute, $content: '\f105', $right: 0, $top: 50%);
            color: rgba(255,255,255,0.5);
          }
        }

        &.active i, &.active:after{
          color: $white;
        }
      }
    }
  }
  &-tabs {
    fieldset{
      display: none;
      position: relative;
    }
  }
}

.author-thumb-avatar{
  position: relative;
  .count{
    @include position(absolute, $top: -5px, $right: 10px);
    padding: 3px 10px;
    font-weight: 300;
    color: $white;
    @include box-shadow(0px 2px 10px rgba($warning, 0.8));
  }}

.form-control{
  @include placeholder{
    color: rgba($theme-font-color, 0.5);
  }}


// Masterpieces Category Search
.Navsearch-category{
  position: relative;
  z-index: 99;

  &-filter{
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
  }

  &-select{
    position: relative;
    padding: 0px 15px;
    border-right: 1px solid $border-color;
    width: 100%;

    @include media-breakpoint-up(md){
      border-left: 1px solid $border-color;
    }
  }

  &-arrow{
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    padding-left: 20px;
  }
}

.collection-filter-list{
  li a{
    color: $theme-font-color;
    font-size: 13px;

    &.active{
      color: $primary;
    }
  }
} 

.collection-products-item-fav{
  @include position(absolute, $top: 10px, $right: 10px);
  @include border-radius(50px);
  @include flexbox();
  @include size(30px);
  @include justify-content(center);
  @include align-items(center);
  background-color: $white;
  font-size: 12px;
}

.collection-products-item{
  @extend .d-flex;
  margin-bottom: 30px;
  @include transition(0);
  @extend .shadow-xs;  
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  .product-action-tool{
    display: none;
    flex-shrink: 0;
  }
  &:hover{
    @extend .position-relative;
    margin-bottom: -60px !important;
    z-index: 3;
  
    .product-action-tool{
      display: block;        
    }
  }
}

// Masonarry Gallery
.artisan-gallery{

  &-item{
    @extend .d-inline-block;
    width: calc(100%/2 - 4px);
    vertical-align: top;
    height: 200px;
    @extend .float-left;
    @extend .position-relative;
    @extend .overflow-hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.long-item{
      height: 400px;}

    &.overlay:after{
      @include position(absolute, $content: '', $top: 0, $right: 0, $left: 0, $bottom: 0, $zIndex: 0);
      background: $black none repeat scroll 0 0;
      @include opacity(0.5);
    }

    .video-link{
      @extend .d-inline-block;
      @include position(both, $zIndex: 1);
      @extend .text-light;
      font-size: 50px;
    }
    .view-more-items{
      @include position(both, $zIndex: 1);
      @extend .text-white;
      @extend .text-center;

      .count{
        @extend .text-white;
        font-size: 40px;
        @extend .secondary-fonts;
      }
      p{
        @extend .text-light;
        font-size: 20px;
        @extend .primary-fonts;
      }
    }
  }
}


// Slick Slider Icons
.slick-arrow{
  @include size(30px);
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .bg-white;
  @extend .border;
  @extend .rounded-circle;
  cursor: pointer;
  @include transition($transition-base);
  @include position(absolute, $top: 100px, $zIndex: 3);

  @include hover{
    @extend .shadow;
  }
  &-right{right: 0;}
  &-left{left: 0;}
}

// PRODUCT GALLERY STYLE
.product-gallery-box{
  margin-top: -120px;
  .gallery {
  .previews, .full{
    @extend .float-left;}

  .previews {
    @extend .mr-3;

    img, .video-item{
      @include size(40px, 60px);
    }

    .video-item{
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .text-center;
    }

    a {
      @extend .border;
      @extend .rounded;
      @extend .d-block;
      @extend .mb-2;
      @extend .px-2;
      @extend .position-relative;
      @include transition($transition-base);

      @include after{
        @include size(100%);
        background-color: $light;
        @include position($top: 0, $left: 0, $zIndex: 2);
        @include opacity(0.6);
        @include transition($transition-base);
      }
    
      &:hover, &.selected{
        @extend .border-danger;
        
        &:after{@include opacity(0);}
      }
    }
  }
  
  .full {
    width: calc(100% - 80px);
    @extend .text-center;
    @extend .font-size-12;

      @include media-breakpoint-up(md){
        img {height: 450px;}
        }      
        @include media-breakpoint-down(md){
        img {height: 330px;}
        }      
      }
    }
}



// Product Page
//--------------------------------------------------------------
.product-item{
  &-header{
    @extend .d-sm-flex;
    @extend .justify-content-between;
    @extend .align-items-center;   
    ._itemPrice{
      @extend .font-weight-bold;
      @extend .text-primary;
      @extend .font-size-20;
      @extend .mr-2;
    }
    ._itemOldPrice{
      @extend .text-dark-300;
      @extend .font-size-16;   
      @extend .mr-2;
    }
    ._itemSale{
      background-color: $theme-red-color;
      @extend .font-size-13;
      @extend .shadow;
      @extend .rounded;
      @extend .text-white;
      padding: 2px 8px;
    }
    ._itemAddWishlist{
      @extend .bg-success;
      @extend .text-white;
      @extend .py-2;
      @extend .px-4;
      @extend .font-size-16;
      @extend .shadow;
      @extend .position-relative;
      @extend .rounded-left;
      @include media-breakpoint-up(sm){ /* ! Responsive */
        @include after{
          @include position($right: -1px, $bottom: -10px);
          border-top: 10px solid darken($success, 8%);
          border-right: 10px solid transparent;
        }
      }
    }
  }  
  &-wishlist{
    @include media-breakpoint-up(sm){
      transform: translateX(33px);
    }
  }
}




.instraction-pills{
  @extend .border-bottom;

  .nav-link{
    @extend .text-danger;

    &.active{
      @extend .border-danger;
    }
  }
}


// BUTTON STYLE
//--------------------------------------------------------------
.btn--addToCart{
  @extend .btn;
  @extend .btn-danger;
  @extend .px-4;
  @extend .shadow-danger;
  @include media-breakpoint-up(md){ /* ! Responsive */
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}