/*//=============================
=============|| BUTTON STYLE ||=========================================================================*/
.btn{
    @each $name, $color in $theme-colors {
        &-#{$name} {
          background-color: $color !important;
          border-color: $color !important;
        }
        &-outline-#{$name} {
          color: $color !important;
          border-color: $color !important;

          &:hover{
            background-color: $color !important;
            color: white !important;
          }
        }
    }

    &-large{
      min-width: 160px;  
    }
}
.badge{
  @each $name, $color in $theme-colors {
    &-#{$name} {
      background-color: $color !important;
    }
  }
}
