/*//=============================
=============|| HEADER ||=========================================================================*/
.header{
	position: relative;
	nav.navbar{
		@include box-shadow(0 4px 12px 0 rgba(0, 0, 0, 0.04));
		z-index: 99999;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.navbar-nav .nav-link{
		color: $font-color;
		font-size: 18px;

		@include hover-active{
			color: $danger-color;
		}
		@media (min-width: 991px){	
			margin-left: 30px;
		}
	}
	&-nav-cart{
		position: relative;
		cursor: pointer;
		@include inline-block;

		@include before{
			@include size(1px, 26px);
			background-color: $line-color;
			@include position($left: 0px, $top: 50%);
		}

		&-icon{
			position: relative;
			@include flexbox();
			@include size(40px);
			@include align-items(center);
			@include justify-content(center);
			box-sizing: border-box;
			background-color: $light-color;
			@include border-radius(50px);
			@include transition();

			@include hover{
				background-color: rgba($danger-color, 0.2);
			}
		}
		&-count{
			@include position(absolute, $top: -6px, $right: -6px);
			@include color($danger-color, $light-color);
			@include inline-block;
			min-width: 20px;
			@include border-radius(50px);
			text-align: center;
			font-size: 13px;
		}
	}
}

/*//=============================
=============|| TOGGLER BUTTON ||=========================================================================*/
.navbar-toggler {
	border: none;
	margin-right: 10px;

	&.toggler-white span{
		background: white;
	}

	span {
		display: block;
		width: 25px;
		height: 2px;
		background: $font-color;
		margin: auto;
		margin-bottom: 5px;
		@include transition(all 400ms linear);
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}

	&[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}

	&[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}

	&[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
}
@media(max-width: 1199px){
	.navbar-collapse{
		@include color($dark-color);
		@include padding(10px 35px);
		@include margin(0px -15px);

		.nav-item a, .nav-link{
			color: $light-color !important;
		}
		.dropdown-menu{
			background-color: rgba($dark-color, 0.6);
		}
	}
}

.sticky-menu {
	right: 0;
	left: 0;
	position: fixed;
	top: 0;
	-webkit-animation-name: header_animation;
			animation-name: header_animation;
	-webkit-animation-duration: 0.4s;
			animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
	-webkit-animation-delay: false;
			animation-delay: false;
  }
  
  @-webkit-keyframes header_animation {
	0% {
	  -webkit-transform: translate3d(0, -70px, 0);
	  transform: translate3d(0, -70px, 0);
	}
	100% {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  @keyframes header_animation {
	0% {
	  -webkit-transform: translate3d(0, -70px, 0);
	  transform: translate3d(0, -70px, 0);
	}
	100% {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  